body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: #fff;
  background-color: #333;
  border-radius: 0.25rem;
}

.dropdown-item {
  color: #333;
  font-weight: bold;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #333;
  border-radius: 0.25rem;
}

.fa-bell {
  color: #333;
  font-size: 1.2rem;
  padding-right: 0.5rem;
}

.container my-5{
  max-width: 500px;
  margin: 0 auto;
}

form {
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 25px;
}

label {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-text {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #555;
}

.btn-details {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-top: 20px;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: #0069d9;
  color: #fff;
}

.container.notification {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
}

.form-check {
  display: inline-block;
  margin-right: 10px;
}

.form-notification {
  text-align: left;
  margin-top: 20px;
}

#order-by {
  width: 200px;
  margin-top: 10px;
}

label {
  font-weight: bold;
}